.header {
  background-image: url('../assets/bg.webp');
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header button {
  color: #fff;
  text-transform: uppercase;
  background-color: #f29422;
  font-size: 20px;
  border-radius: 30px;
  padding: 20px 40px;
  border: none;
  box-shadow: 0 10px 30px #e2762d;
}

.header button:hover {
  color: #fff;
  background-color: #3d9dd9;
  border: none;
  transform: translateY(-3px);
  box-shadow: 0 15px 40px #e2762d;
  transition: .3s;
}