.header {
  background-image: url('../assets/bg.webp');
  height: 550px;
}

.header button {
  color: #fff;
  background-color: #f29422;
  font-size: 18px;
  border-radius: 30px;
  padding: 20px;
  border: none;
  margin-top: 20em;
  margin-left: 60em;
}

.header button:hover {
  color: #fff;
  background-color: #3d9dd9;
  font-size: 18px;
  border-radius: 30px;
  padding: 20px;
  border: none;
  margin-top: 20em;
  margin-left: 60em;
}
.header-padding{
  padding-top: 6.7em; 
}
