.manifesto {
    text-align: center;
    padding: 5em;
    color: #3d9dd9;
  }
  
  .manifesto h1 {
    font-size: 5em;
  }
  
  .manifesto-header {
    padding-top: 2em;
    margin-bottom: 5em;
  }
  
  .manifesto-section-one h1,
  h1 {
    color: #3d9dd9;
  }
  
  .manifesto-text {
    font-size: 1.4em;
  }
  
  .manifesto-support p,
  img {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .manifesto-support img {
    margin: 1em auto;
  }
  
  .manifesto-contact a {
    display: block;
    text-decoration: none;
  }  