.active {
  border-bottom: 4px solid #3d9dd9;
  color: #3d9dd9;
}

.navbar {
  box-shadow: 2px 1px 12px 2px #3d9dd9;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width:768px){
  .navbar{
    padding: 0px 20px;
  }

  .searchInputs{
    display: flex;
    justify-content: center;
  }

  .navbar .navbar-nav{
    text-align: center;
  }
}
