.contact-card {
  width: 20em;
  margin: 2em auto;
  padding: 3em;
  border-radius: 10px;
  text-align: center;
  line-height: 4;
  background-color: #f3f3f3;
}

.contact-form {
  margin-bottom: 4em;
}
.contact-padding{
  padding-top: 8.7em;
}

.invalidInput{
  color: red;
  font-size: small;
  padding: 0;
  margin: 0;
}
.mt-p {
  margin-top: 5em;
}
